/**
 *
 * Hej. Ja sam Aleksa. 
 *
 *
 * Pravim interektivne web sajtove.
 *
 * Da li da napravim jedan sad?
 */

/**
 * Pocinjemo animiranjem... svega.
 */

* {
  -webkit-transition: all 1s;
}

/**
 * To nije nista promenilo, ali polako.
 *
 * Crno belo je malo dosadno,
 * mozda da promenimo malo.
 */

html {
  background: rgb(63, 82, 99);
}

/***
 * Polako...
 */

pre, a {
  color: white;
}

/**
 * To je bolje, crna tema uvek vise prija.
 *
 * Malo je prazno ovako, mozda da odvojimo prozore.
 *
 * Hajde da podelimo ovaj sajt u prozore.
 */

pre:not(:empty) {
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  max-height: 45vh;
  width: 49%;
  font-size: 14px;
  font-family: monospace;
  padding: 1vh 0.5vw;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0;
  margin: 1vh 0.5vw;
}

/**
 * Ok, vreme je za malo ozbiljniji posao.
 * Hajde da napravimo nasto zanimljivo.
 */

#style-text {
  -webkit-transform: translateX(95%);
  position: absolute;
}

/**
 * Vec je bolje, al mozda malo vise boja za razlicite stvari
 * Stize malo bolje formatiranje.
 */

.comment       { color: #857F6B; font-style: italic; }
.selector      { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }

/**
 * To je vec bolje.
 * Jel vreme za promenu perspektive?
 */

body {
  -webkit-perspective: 1000px;
}

#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  max-height: 93.1vh;
}

/**
 * Jel ovo dovoljno sto se tice prezentacije koda?
 * Mozda da pricamo o mogucim projektima?
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -webkit-transform-origin: left;
}
